@font-face{
    font-family:"police titres";
    src: url('assetsD03/nasalization-rg.ttf');
}
body{
    background-color:aliceblue
}
h1{
    color:#8B0000;
    background-color : rgba(0,0,0,0.2);
        font-family:"police titres";
        font-size:45px;
        text-decoration:underline;
        text-align:center;
        text-decoration-color:black
}
h2{
    color:rgb(178,34,34);
    font-family:"police titres";
font-size:25px;
text-decoration: underline;
text-align:center;
text-decoration-color:black
}
